
@{
    ViewData["Title"] = "Index";
}

<h2 class="alert-info">Index</h2>


@section scripts
    {
    <script src="~/ts/greeter.js"></script>
    <script src="~/ts/Jtcm.js"></script>
    <script src="~/ts/main.js"></script>
}

