<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default"
         connectionString="Server=tcp:jual92.database.windows.net,1433;Initial Catalog=JTCM.Database;Persist Security Info=False;User ID=julian.tabaku@ikubinfo.al;Password=algert!4;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>